# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# ##
examples/main.c
main.exe
main.o
.idea/.name
.idea/c-programming-sara-golkar.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/c_programming_sara_golkar.cbp
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.17.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/c_programming_sara_golkar.dir/build.make
cmake-build-debug/CMakeFiles/c_programming_sara_golkar.dir/C.includecache
cmake-build-debug/CMakeFiles/c_programming_sara_golkar.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/c_programming_sara_golkar.dir/depend.internal
cmake-build-debug/CMakeFiles/c_programming_sara_golkar.dir/depend.make
cmake-build-debug/CMakeFiles/c_programming_sara_golkar.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/c_programming_sara_golkar.dir/embed.manifest
cmake-build-debug/CMakeFiles/c_programming_sara_golkar.dir/flags.make
cmake-build-debug/CMakeFiles/c_programming_sara_golkar.dir/intermediate.manifest
cmake-build-debug/CMakeFiles/c_programming_sara_golkar.dir/manifest.rc
cmake-build-debug/CMakeFiles/c_programming_sara_golkar.dir/manifest.res
cmake-build-debug/CMakeFiles/c_programming_sara_golkar.dir/objects1.rsp
cmake-build-debug/CMakeFiles/c_programming_sara_golkar.dir/progress.make
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Makefile
CMakeLists.txt
.idea/c-programming-sara-golkar.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/c-programming-sara-golkar.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea
.idea/*
.idea/vcs.xml
cmake-build-debug/CMakeFiles/Progress/count.txt
*.cbp
testcode/*
practices/season3/.vscode/c_cpp_properties.json
